body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1d1d;
    color: #b7ddb7;
}

header {
    background-color: #2f5031;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

main {
    width: 90%;
    margin: 20px auto;
}

h2 {
    color: #4CAF50;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #070707;
}

th {
    background-color:#413d3d;
}

tr:hover {
    background-color: #060606;
}
button {
    padding: 14px 20px;
    font-size: 16px;
    background-color: #2f5031;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4CAF50;
}